<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MJTRZQF');</script>
<!-- End Google Tag Manager -->

<% provide(:title, "What is Business Agile?") %>
<style>
  h1{
    padding-top:20px;
    font-family: helvetica;
    font-weight: bold;
    color: #1164fc;
   }
   h4{
     color:#1164fc;
     font-weight:bold;
   }
  </style>
<h1>What is Business Agile?</h1>

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="primary-panel-body">
          <a href = "businessAgile">
            <div class="grid-image-container" style="height:152px">
              <h4>Business Agile at JNJ</h4></a>
              </br>
        
              <p>What are the 3 laws and 9 principles of agile?  Are they unique to J&J?</p>
            </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="primary-panel-body">
          <a href = "immersionWeek">
            <div class="grid-image-container">

              <h4>Immersion Week Overview</h4></a>
</br>
              <p>Learn what is in the Business Agile Toolbox, and see examples of past Immersion Weeks from across the globe.</p>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="primary-panel-body">
          <a href = "hacks">
            <div class="grid-image-container" style="height:152px">

              <h4>Agile Hacks: J&J Success Stories</h4></a>
</br>
              <p>View stories from J&J colleagues sharing their real experiences and stories using Business Agile.</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
