<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MJTRZQF');</script>
<!-- End Google Tag Manager -->

<% provide(:title, "Agile Hacks") %>

<style>
  h1{
    padding-top:20px;
    font-family: helvetica;
    font-weight: bold;
    color: #1164fc;

}
h3 {
  color: #f95c16;
  text-align: left;
  font-family: helvetica;
padding-bottom: 10px;
}


</style>


  <h1>Agile Hacks</h1>

  <div class="row">
      <div class="col-md-2">
    </div>
      <div class="col-md-8">
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Imperdiet sed euismod nisi porta lorem mollis aliquam. Quis viverra nibh cras pulvinar. Sit amet est placerat in egestas erat imperdiet.</p>
      <div class ="video-responsive">
        <iframe width="640" height="360" src="https://web.microsoftstream.com/embed/video/439cb4e2-7b19-42b1-b0d1-248965f5ebc9?autoplay=false&amp;showinfo=false" allowfullscreen style="border:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; max-width: 100%;"></iframe>
        </div>
    </div>
  </div>

</br></br>
    <div class="row">
        <div class="col-md-2">
      </div>
        <div class="col-md-8">
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Imperdiet sed euismod nisi porta lorem mollis aliquam. Quis viverra nibh cras pulvinar. Sit amet est placerat in egestas erat imperdiet.</p>
        <div class ="video-responsive">

<iframe width="640" height="360" src="https://web.microsoftstream.com/embed/video/efeb9fe2-4c56-4803-a3d1-6bfc246c3954?autoplay=false&amp;showinfo=true" allowfullscreen style="border:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; max-width: 100%;"></iframe>
          </div>
      </div>
    </div>

  </br></br>
      <div class="row">
          <div class="col-md-2">
        </div>
          <div class="col-md-8">
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Imperdiet sed euismod nisi porta lorem mollis aliquam. Quis viverra nibh cras pulvinar. Sit amet est placerat in egestas erat imperdiet.</p>
          <div class ="video-responsive">
<iframe width="640" height="360" src="https://web.microsoftstream.com/embed/video/0758d95a-3090-445b-a2e2-3e408406d52f?autoplay=false&amp;showinfo=true" allowfullscreen style="border:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; max-width: 100%;"></iframe>
    </div>
        </div>
      </div>

    </br></br>
        <div class="row">
            <div class="col-md-2">
          </div>
            <div class="col-md-8">
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Imperdiet sed euismod nisi porta lorem mollis aliquam. Quis viverra nibh cras pulvinar. Sit amet est placerat in egestas erat imperdiet.</p>
            <div class ="video-responsive">
<iframe width="640" height="360" src="https://web.microsoftstream.com/embed/video/46048e48-8d6a-4592-b8f7-1673975e5c1c?autoplay=false&amp;showinfo=true" allowfullscreen style="border:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; max-width: 100%;"></iframe>
      </div>
          </div>
        </div>

      </br></br>
          <div class="row">
              <div class="col-md-2">
            </div>
              <div class="col-md-8">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Imperdiet sed euismod nisi porta lorem mollis aliquam. Quis viverra nibh cras pulvinar. Sit amet est placerat in egestas erat imperdiet.</p>
              <div class ="video-responsive">
<iframe width="640" height="360" src="https://web.microsoftstream.com/embed/video/04298a18-494e-4b19-8a30-6be952fc6f7e?autoplay=false&amp;showinfo=true" allowfullscreen style="border:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; max-width: 100%;"></iframe>
      </div>
            </div>
          </div>

        </br></br>
            <div class="row">
                <div class="col-md-2">
              </div>
                <div class="col-md-8">
                  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Imperdiet sed euismod nisi porta lorem mollis aliquam. Quis viverra nibh cras pulvinar. Sit amet est placerat in egestas erat imperdiet.</p>
                <div class ="video-responsive">
<iframe width="640" height="360" src="https://web.microsoftstream.com/embed/video/8afe846a-1744-4f4e-9777-c456ea10fec4?autoplay=false&amp;showinfo=true" allowfullscreen style="border:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; max-width: 100%;"></iframe>
          </div>
              </div>
            </div>






  </div>
