<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MJTRZQF');</script>
<!-- End Google Tag Manager -->

<% provide(:title, "Immersion Week Overview") %>

<style>
  h1{
    padding-top:20px;
    font-family: helvetica;
    font-weight: bold;
    color: #1164fc;

}
h3 {
  color: #f95c16;
  text-align: left;
  font-family: helvetica;
padding-bottom: 10px;
}


</style>


  <h1>Immersion Week Overview</h1>

  <%= image_tag("What/Schedule.png", :id=> "core", :class=> "img-fluid",:width=>"100%", :align=>"center") %>
</br></br></br>
  <%= image_tag("What/Agile.png", :id=> "core", :class=> "img-fluid",:width=>"100%", :align=>"center") %>
