<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MJTRZQF');</script>
<!-- End Google Tag Manager -->

<% provide(:title, "Keep Going") %>
<div class= "center jumbotron">
  <h1>Keep Going</h1>
</br>
  <h5>Learn what is available to help you & your organization continue on the Business Agile change journey beyond training & workshops – think community, think short videos, think measures.</h5>

</div>

<style>
  h5{
    line-height:1.5;
  }
  h4{
color:#1164fc;
font-weight:bold;

   }
p{
  color:#707070;
  font-style:italic;
}
  </style>



<div class="container-fluid">

  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="primary-panel-body">
      <a href="metrics">
          <div class="grid-image-container">

        <h4>Metrics & Leading Indicators</h4></a>

      <p>Learn how to “measure” Business Agile initiatives, teams, and outcomes.</p>
        </div>
      </div>
    </div>


  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="primary-panel-body">
          <a href = "coachHacks">
            <div class="grid-image-container">

              <h4>Agile Hacks from an Agile Coach</h4></a>

              <p>A collection of “pro tips” from Agile Coaches & other practitioners on Business Agile way of working.</p>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="primary-panel-body">
        <a href="hacks">
            <div class="grid-image-container">

          <h4>Agile Hacks: J&J Success Stories</h4></a>

        <p>View stories from J&J colleagues sharing their real experience & challenges with Business Agile.</p>
          </div>
        </div>
      </div>


    </div>


  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="primary-panel-body">
        <a href= "#">
          <div class="grid-image-container">

            <h4>Communication Portal</h4> </a>

          <p>Wondering what the latest buzz is on Business Agile? Looking for a calendar of engagements for your region? Visit our communication portal.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="primary-panel-body">
          <a href = "#">
            <div class= "grid-image-container">


              <h4>Community of Practice</h4></a>

            <p>Join the thousands within J&J who are learning by doing, sharing their ups & downs, and helping each other through quick connections.</p>
            </div>
        </div>
      </div>
    </div>
