
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MJTRZQF');</script>
<!-- End Google Tag Manager -->

<% provide(:title, "Retro") %>

<%= stylesheet_link_tag    'playPage', media: 'all', 'data-turbolinks-track': 'reload' %>

<h1>Retrospective</h1>

  <div class="row">
    <div class="col-md-8">
        <p>Retrospectives are not magic, but they are the next best thing. Retrospectives are time for your teams to reflect how things went during the last sprint and talk about ways how you could improve the next one.</p>
        <p>The retrospective occurs at the end of each sprint after the sprint review and before the next sprint planning meeting. However, you can also use retrospectives without working in sprints.</p>
    </div>
    <div class="col-md-4">
      <%= image_tag("Plays/sprint-cycle.png", :class=>"img-fluid", :alt=>"Sprint Cycle") %>

		</div>
  </div>

<br></br>

  <div class="row">
    <div class="col-md-12">
        <p>Retrospectives serve a few purposes: To evaluate how the last sprint went, to create a shared understanding of the things that went well and things that didn’t go so well and to create a plan for improving the way your team works.</p>
        <p>A retrospective can take just a few minutes after a meeting or up to 1 hour? for an entire 4 week sprint.</p>
        <p>Every squad or team member should attend the retrospective with a facilitator leading the discussion. The facilitator would usually be the Scrum Master, but could also be anyone in the team and it can also rotate throughout. Feel free to pull in people from the extended team and anyone who contributed to the current sprint or work.</p>
    </div>
  </div>

<br> </br>

  <div class="row">
    <div class="col-md-4">
      <%= image_tag("Plays/retro-setup.jpg", :class=>"img-fluid", :alt=> "retrospective setup") %>
    </div>
    <div class="col-md-8">
      <p>Here is how to do it. There are 5 simple steps how to run a retrospective:</p>
      <ol type="1">
        <li>Prepare</li>
        <li>Set the stage</li>
        <li>What went well?</li>
        <li>What needs improvement?</li>
        <li>Next steps</li>
      </ol>
      <p>Let’s start with Step 1 “preparation”: Make sure you have the following supplies: White board, sticky notes, pens, dots for voting and a timer. Prepare the retro board into two simple sections: What went well? What needs improvement?</p>
      <p>Now you are ready for Step 2 “set the stage”: Retrospectives can be difficult, because everybody is under pressure. So it’s important to set the right tone and mindset. A good thing to do this as a servant leader is to start with a statement underlining the trust you have in the team: “Regardless of what we discover, we truly believe that everyone did the best job they could given what they knew and the skills and resources they had at the time.” </p>
      <p>This gives space for short comings and reminds everyone of keeping a positive spirit of continuous improvement, be open-minded and stay focused on outcomes and not individual people.</p>
    </div>
  </div>

<br> </br>

<div class="row">
  <div class="col-md-12">
      <p>Set the frame for the conversation: Are we “retroing” on the last sprint, week or meeting?</p>
      <p>These ground rules in mind you can start the conversation with Step 3 “What went well”. This is a crucial step, because it is easy to turn retrospectives into complaining sessions by only focusing on the negatives, but that is not the goal. It’s also an opportunity to make the good even better!</p>
      <p>Collect as many ideas as possible. Focus on actions and outcomes (e.g. team strengths or outcomes the team can be proud of), but resist the temptation to jump straight to solutions. Have the facilitator table any discussions leading into that direction.</p>
      <p>Stick to one brief idea per sticky note. You have time to elaborate on them after the session.</p>
      <p>Once the time is up the group goes around the room and post the ideas on the board, reading them out loud and creating a shared understanding of what it means. The team can ask clarifying questions, but the discussion should be around empathy and understanding and not about actions or implications.</p>
      <p>Group similar ideas together and get a sense of any themes arising.</p>
      <p>It should take about 5 minutes for brainstorming and writing ideas on the sticky notes and 10-20 minutes for running through the themes and creating a shared understanding.</p>
      <p>Repeat the same activity for Step 4 “What needs improvement?”: Use the same structure as before, but figure out what didn’t go well.</p>
  </div>
</div>

<br> </br>

<div class="row">
  <div class="col-md-8">
      <p>Finally wrap up the retrospective by spending 20-25 minutes on Step 5 “next steps”. Having identified what went well and what didn’t, what concrete actions can your team take to improve those things. Allow each team member 3 votes and let the team vote on which items they want to take action on. You won’t be able action all items you have identified and that’s okay!</p>
      <p>Once you have a list agree on which actions you take and assign owners and a due date and place those on your Kanban.</p>
      <p>At the end thank everyone for their involvement and honesty, summarize the aligned action steps and take the learning into your next sprint.</p>
  </div>
  <div class="col-md-4">
    <%= image_tag("Plays/retro-example.jpg", :class=>"img-fluid", :alt=> "retrospective example") %>
  </div>
</div>

<br> </br>

  <div class="row">
    <div class="col-md-8">
      <div class ="video-responsive">
        <iframe width="992" height="558" src="https://www.youtube.com/embed/dJNCHvqKljU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
