
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MJTRZQF');</script>
<!-- End Google Tag Manager -->
<% provide(:title, "Stand-Up") %>
  <%= stylesheet_link_tag    'playPage', media: 'all', 'data-turbolinks-track': 'reload' %>
<h1> Stand-Up </h1>

  <div class="row">
    <div class="col-md-12">
    <h2>Overview:</h2>
     <p> Filler </p>
      </div>
  </div>

<br></br>

    <div class="row">
      <div class="col-md-2">
    </div>

      <div class="col-md-8">
      <div class ="video-responsive">
        <iframe width="992" height="558" src="https://www.youtube.com/embed/MHOv8qktJe4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>


      <div class="col-md-2">
    </div>
  </div>

<br> </br>

  <div class="row">
    <div class="col-md-6">
       <!--<div class="Materials"></div>-->
       <h2>Materials:</h2>

    </div>
    <div class="col-md-6">
       <!--<div class="Set-up"></div>-->
      <h2>Set Up:</h2>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
     <!--<div class="Instructions"></div>-->
     <h2>Intructions:</h2>
    
   </div>
 </div>
