
<!--<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <style>
  h2 {
    color: #1164FC;
    text-align: left-align;
    font-family: helvetica;
    font-weight: bold;
    font-size:20px
  }

body{
  font-family: helvetica;
  font-size: 14px;
}
ol{
  line-height: 2;
}

</style>

</head>
<body>-->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MJTRZQF');</script>
<!-- End Google Tag Manager -->

<% provide(:title, "A/B Testing") %>

<%= stylesheet_link_tag    'playPage', media: 'all', 'data-turbolinks-track': 'reload' %>

<h1> A/B Testing </h1>

<div class="row">
  <div class="col-md-12">
  <h2>Overview:</h2>
   <p></p>


    </div>
</div>

<br></br>

<div class="row">
<div class="col-md-12">
<h2>Why Run It?</h2>
 <p></p>

  </div>
</div>

<br></br>

<div class="row">
  <div class="col-md-2">
</div>

  <div class="col-md-8">
  <div class ="video-responsive">
    <iframe width="992" height="558" src="https://www.youtube.com/embed/yfp00o41qWU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div class="col-md-2">
</div>
</div>

<br></br>

<div class="row">
    <div class="col-md-12">
    <!--<div class="Materials"></div>-->
    <h2>Measures</h2>


  </div>
  </div>

  <div class="row">
  <div class="col-md-12">
    <h2>Customer Experience- Conducting A/B Testing</h2>
  </div>
</div>

<div class="row">
<div class="col-md-12">
  <h2>Steps to Prepare and Conduct Experiment</h2>
  <ol>
  <li>Identify the Type of Experiment</li>
<li>Identify & build the front-end</li>
<ol>What resources are needed to complete interaction (behind the curtain)?</ol>
<ol>What resources are needed to establish the site?</ol>
<li>Run the experiment with a live user</li>
<ol>Zappos example</ol>
<ol>Capture customer information</ol>
<ol>Process order with manual resources identified in Step 2</ol>
<ol>Inform the customer of completion</ol>
<ol>Deliver the order the customer requested</ol>
<li>Collect Data Points</li>
<li>Conduct experiment for a duration of two weeks</li>
<ol>Producers of workshop setup weekly cadence</ol>
<ol>DRI is responsible for tracking details</ol>
<ol>Research Specialist will be available to provide guidance</ol>
<li>Determine success or failure of experiment based on data points from Step 4</li>
<ol>Pivot - Change direction based on data points collected</ol>
<ol>Perish - No course change available, value proposition not there, stop processing</ol>
<ol>Proceed - Data points prove value proposition and will expand to more customers and refine through process</ol>

</div>
</div>


<div class="row">
  <div class="col-md-12">
   <!--<div class="Instructions"></div>-->
   <h2>Tools to Support Experiement</h2>
   <ul>
    <li>https://fiftythree.com/paste</li>
    <li>https://www.google.com/docs/about/</li>
    <li>https://webflow.com/</li>
<li>More prototype tools: Microsoft PowerPoint, Balsamiq, Sketch, Proto.io, InVision</li>
   </ul>
   </div>
</div>

<div class="row">
 <div class="col-md-12">
   <h2>Example of Experiment:</h2>
   </div>
   </div>
