
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MJTRZQF');</script>
<!-- End Google Tag Manager -->

<% provide(:title, "Conference Room Pilot") %>

<%= stylesheet_link_tag    'playPage', media: 'all', 'data-turbolinks-track': 'reload' %>
<h1> Conference Room Pilot </h1>

<div class="row">
  <div class="col-md-12">
  <h2>Overview:</h2>
   <p>Conference Room Pilots is running a real-time, step-by-step demonstration of a process with all its compartments. This is used to test how processes flow and interact with different elements.</p>
</br>
<p>A great example of this can be learned from McDonalds. In order to provide the most efficient service and fluid kitchen operations, they ran conference room pilots to test their kitchen environment and the different events occurring simultaneously. This led them to detect areas of improvement to cut down on production time.</p>
</br>
<p>Another great example - specifically Role Play - comes from J&J LATAM office where they needed to build a shared reality around the customer journey but were limited with time and the journey was very complex with multiple nuances. They assigned roles to individuals (patient, doctor, nurse, technical assistant, backoffice, warehouse, sales rep, and even a competitor in the room) and then role played the experience with steps, goals, pains, and behaviors.</p>


    </div>
</div>

<br></br>

<div class="row">
<div class="col-md-12">
<h2>Why Run It?</h2>
 <p>Conference room pilots are used to test the efficiency and reliability of a process. </p>


  </div>
</div>

<br></br>

<div class="row">
  <div class="col-md-2">
</div>

  <div class="col-md-8">
  <div class ="video-responsive">
    <iframe width="992" height="558" src="https://www.youtube.com/watch?time_continue=30&v=u00S-hCnmFY&feature=emb_title" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div class="col-md-2">
</div>
</div>

<br></br>

<div class="row">
    <div class="col-md-12">
    <!--<div class="Materials"></div>-->
    <h2>Measures</h2>
    <ul>
      <li>Process flows- how different components interact with each other when operating.</li>


  </div>
  </div>

  <div class="row">
  <div class="col-md-12">
    <h2>Steps to Prepare and Conduct Experiment</h2>
  <ol>
    <li>Choose a process to simulate.
<li>Gather the necessary people.</li>
<li>Map the environment.</li>
<li>Test a process from start-to-end.</li>
<li> a.What worked well?</li>
<li> b.Were there any interruptions or anything that didn't go smooth?</li>
<li> c.Were there any spontaneous recoveries/hacks that made things go better?</li>
<li>Based on the simulation, re-orchestrate the process.</li>
  </ol>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
   <!--<div class="Instructions"></div>-->
   <h2>Tools to Support Experiement</h2>
   <ul>
     <li>See McDonalds video above</li>
     <li>More on Role Play: http://www.designkit.org/methods/36</li>
   </ul>
   </div>
</div>
