
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MJTRZQF');</script>
<!-- End Google Tag Manager -->

<% provide(:title, "Customer Interviews") %>

<%= stylesheet_link_tag    'playPage', media: 'all', 'data-turbolinks-track': 'reload' %>
<h1> Customer Interviews</h1>


<div class="row">
  <div class="col-md-12">
  <h2>Overview:</h2>
   <p>A user interview is a common research method to gain deeper understanding of your users.
     Common information captured are attitudes, beliefs, behaviors, motivations, frustrations and pain points.
It is a good idea to balance a user interview with contextual inquiry (see page). The reason for this is that
 during a user interview, you will capture what the user says they do, however this information is not always
 100% accurate. In a contextual inquiry, you will actually get to see how the user behaves. </p>


    </div>
</div>

<br></br>

<div class="row">
<div class="col-md-12">
<h2>Why Run It?</h2>
 <p>This rich data will add to the personas you design and help you understand your potential
   or existing users. It is a valuable technique to use throughout a product lifecycle (from market
   research, to testing and feedback).</p>

  </div>
</div>

<br></br>

<div class="row">
  <div class="col-md-2">
</div>

  <div class="col-md-8">
  <div class ="video-responsive">
    <iframe width="992" height="558" src="https://www.youtube.com/embed/yfp00o41qWU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div class="col-md-2">
</div>
</div>

<br></br>

<div class="row">
    <div class="col-md-12">
    <!--<div class="Materials"></div>-->
    <h2>Measures</h2>
    <ul>
      <li>Qualitative data- attitudes, beliefs, motivations, frustrations, pain points.</li>
      <li>Quantitative data- behaviors</li>
      </ul>


  </div>
  </div>


<div class="row"
<div class="col-md-12">
  <h2>Steps to Prepare and Conduct Experiment<h2>
    <ol>
      <li>Pre- interview</li>
  <ol>
    <li>a.Determine research objectives</li>
    <li>  Determine research subjects</li>
    <li>Coordinate visit</li>
        </ol>
        <ul>
    <li>  Day, time, location</li>
    <li>Prepare script</li>
<li>Try to arrange 2 researchers per interview (one to interview, one to take notes)</li>
  <li>Ask for permission to audio/video record</li>
  </ul>
  <li>Interview</li>
  <ul>
    <li>a. Introductions (general introductions, purpose of interview, confidentiality agreements)</li>
    <li>b. Interview</li>
    </ul>
    <ul>
      <li>a. Follow script, but feel free to veer off.</li>
      <li>b. Avoid leading questions- would you..., did you..., etc.</li>
      <li>c.Ask follow up questions- why, when, how, what's an example of that?</li>
      <li>d. Do not sell or pitch your product/idea!</li>
      </ul>
      <li>c. Conclusions (thank you, restate purpose, etc.)</li>
  </ol>
</div>
</div>


<div class="row">
  <div class="col-md-12">
   <!--<div class="Instructions"></div>-->
   <h2>Tools to Support Experiement</h2>
   <ul>
     <li>Photoshop, or other tools to easily change a product/site</li>
     <li>Use snippets of existing web pages</li>

   </ul>
   </div>
</div>

<div class="row">
 <div class="col-md-12">
   <h2>Example of Experiment:</h2>

   </div>
   </div>
