

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MJTRZQF');</script>
<!-- End Google Tag Manager -->

<% provide(:title, "Fake Front Door") %>

<%= stylesheet_link_tag    'playPage', media: 'all', 'data-turbolinks-track': 'reload' %>

<h1> Fake Front Door </h1>

  <div class="row">
    <div class="col-md-12">
    <h2>Overview:</h2>
     <p>The Fake Door experiment is the establishment of a facade that has nothing functional behind the scenes.
       If you’ve already got a customer base, using the fake door test is a fantastic way to gauge whether they’ll be interested
      in a new product or feature. A customer will see the door, interact with it and be told that there is nothing behind it. It
      is a great way to test out an idea, gain data on how your idea/product/site is being received.</p>


      </div>
  </div>

<br></br>

<div class="row">
  <div class="col-md-12">
  <h2>Why Run It?</h2>
   <p>When a new idea will require a lot of technical and business expertise and the team would like to learn more
      about their customer first. The customer segment provides an opportunity to identify what is priority for the
       group and what is considered a nice to have. The identification of the customer segment is one of the areas of
       the value proposition work.</p>
    <p>You can quickly see whether customers will engage with a new feature by launching just the first part of it.
       When developing a new feature that doesn't exist, it is hard to understand whether users will want it, because
        sometimes they don't know they want/need it!</p>

    </div>
</div>

<br></br>

  <div class="row">
    <div class="col-md-2">
  </div>

    <div class="col-md-8">
    <div class ="video-responsive">
      <iframe width="992" height="558" src="https://www.youtube.com/embed/yfp00o41qWU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
  </div>

  <div class="col-md-2">
</div>
  </div>

<br></br>

  <div class="row">
      <div class="col-md-12">
      <!--<div class="Materials"></div>-->
      <h2>Measures</h2>
      <ul>
        <li>Number of leads/li>
        <li>Demographic information about leads</li>
        <li>Way in which your idea/product/site is being interacted with and received</li>

    </div>
    </div>

    <div class="row">
    <div class="col-md-12">
      <h2>Customer Experience- Conducting a Fake Front Door</h2>
      <ol>
        <li>Create a landing page</li>
        <li>Publish the landing page to a location</li>
        <li>Collect the information from the landing page</li>
        <li>Review information</li>
        <li>Identify the customer segment</li>
        </ol>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
     <!--<div class="Instructions"></div>-->
     <h2>Tools to Support Experiement</h2>
     <ul>
       <li>Excel</li>
       <li>Enail</li>
       <li>Website</li>
       <li>Instapage and Unbounce lets you design landing pages fast and analyze conversion insights.</li>
     </ul>
     </div>
 </div>

 <div class="row">
   <div class="col-md-12">
     <h2>Example of Experiment:</h2>
     <ul>
       <li>That’s what online marketplace CustomMade did. The team was thinking about introducing the option
         to save other users’ projects for inspiration. Instead of laboriously developing the functionality
         and then seeing if it was popular, they simply added the "save" button- just the button, there still
          wasn't a save feature built out in the back-end. They knew they were onto something, because they
          observed a huge number of clicks. After a few changes, they saw a 3x increase in engagement!</li>
        <li>Watch this talk from Polyvore's co-founder, Jess Lee, discussing how they use fake doors to test new features.</li>
        <li>Mock Sales: pretending to sell something, then when a customer wants to buy it, tell them it is not yet built.
         Example: To test whether customers would be interested in an Acuvue subscription model, the team offered their users
         to see whether they would be interested in subscribing. Upon attempting to subscribe, the customer was informed that
         the product is not live and they are still testing interest. It is a good way to collect data and may collect valuable feedback too.</li>
         <li>Landing Page: A landing page is a stand-alone page where information (value proposition) is displayed. The aim is
            to gather data on your value proposition by seeing if users sign up. (Oh, and that landing page? Make sure you write
            something along the lines of “Coming Soon!”, so people don’t get too confused or frustrated.)</li>
            <li>Sales Data: This data contains rich information that provide value for understanding your product.
                It is important to ensure that any important data is accessible to the necessary parties. Oftentimes,
                 data is spread out across different teams and disciplines (IT, Business, etc.) within an organization.
                 This might be a challenge to work with stakeholders and managers to gain access. There may also be legal
                 and regulatory blocks that prevent certain leverage of data. It is important to communicate to these decision-makers
                 the great value to your business/product from deriving insights from the data.</li>
     </div>
     </div>
