
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MJTRZQF');</script>
<!-- End Google Tag Manager -->

<% provide(:title, "Pop-Up Shop") %>

<%= stylesheet_link_tag    'playPage', media: 'all', 'data-turbolinks-track': 'reload' %>

<h1> Pop-Up Shop </h1>

<div class="row">
  <div class="col-md-12">
  <h2>Overview:</h2>
   <p>Pop-up Shops are used to launch new products, generate awareness and vet ideas with a short-term store front.
Example: Adidas Pop-up shop, Palessi (Payless fake high-end pop-up shop with Payless shoes)</p>


    </div>
</div>

<br></br>

<div class="row">
<div class="col-md-12">
<h2>Why Run It?</h2>
 <p>Pop-up Shops can be used to connect with customers, sell more product, build awareness about the product, and test new product ideas with customers.</p>

  </div>
</div>

<br></br>

<div class="row">
  <div class="col-md-2">
</div>

  <div class="col-md-8">
  <div class ="video-responsive">
    <iframe width="992" height="558" src="https://www.youtube.com/embed/yfp00o41qWU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<div class="col-md-2">
</div>
</div>

<br></br>

<div class="row">
    <div class="col-md-12">
    <!--<div class="Materials"></div>-->
    <h2>Measures</h2>
    <ul>
      <li>Customer response</li>
<li>Feedback to product</li>

</ul>

  </div>
  </div>



<div class="row">
<div class="col-md-12">
  <h2>Steps to Prepare and Conduct Experiment</h2>
  <ol>
    <li>Choose a product to test</li>
  <li>Find an area with high foot traffic, relevant to the customers you are wishing to interact with</li>
  <li> Plan logistics</li>
  <ol> a. How will you get product to location?</ol>
<ol>b. How will you accept payments?</ol>
<ol>c. How will you run the store?</ol>
<ol>d. How will you promote your pop-up shop? Reach out to local stores, bloggers, reporters. Post flyers in the streets. Get creative!</ol>
<li>Set up Pop-up shop/booth</li>
<ol>a.Great to include fun elements- balloons, music</ol>
<li>Sell product at a lower cost</li>
<li>Survey customer's and get feedback on product</li>
<ol>Offer coupons/prozes for participation</ol>


</div>
</div>


<div class="row">
  <div class="col-md-12">
   <!--<div class="Instructions"></div>-->
   <h2>Tools to Support Experiement</h2>
   <ul>
     <li>The ultimate guide to pop-up shops</li>
     <li>What exactly is a Pop-up Shop?</li>
   </div>
</div>

<div class="row">
 <div class="col-md-12">
   <h2>Example of Experiment:</h2>
   <p>Payless opened a fake pop-up store called "Palessi" in a LA and invited people to the grand opening.
     The store was stocked with Payless shoes in disguise. One shopper spent $640 on a pair of boots. Read the full article here.</p>
   </div>
   </div>
